body {
    font-family: 'Roboto', sans-serif; 
    height: right;
  }
  
  
  header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 1rem; 
  }
  
  
  .map-container {
    border-radius: 8px; 
    overflow: hidden; 
    
  }
  
  .text-right {
    text-align: right;
    height: 100px;
    padding: 50%;
  }
  
  
  @media (max-width: 768px) {
    .map-container {
        width: 350%; 
        height: 150%;
        padding: 50;
    }
  
    iframe {
        width: 100%; 
        height: 300px; 
    }
  }
  .register-button {
    cursor: pointer; 
    color: white;
    background-color: blue; 
    padding: 10px 15px; 
    border-radius: 5px; 
    display: inline-block; 
    text-align: center; 
    transition: background-color 0.3s; 
  }
  .register-button:hover {
    background-color: darkblue; 
  }
  .flex {
    display: flex;
}
.space-x-4 > li {
    margin-right: 1rem;
}
.hover\:underline:hover {
    text-decoration: underline;
}
footer {
  background-color: #1e3a8a; 
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

footer p {
  margin-bottom: 0.5rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 1rem;
}

footer ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

footer ul li a:hover {
  text-decoration: underline;
  color: #60a5fa; 
}